---
import { pwaInfo } from "virtual:pwa-info";

console.log("\index - pwaInfo :", pwaInfo);

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Conditionnaly add manifest link : OK -->
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

    <!-- Conditionnaly add registerSW.js script : OK -->
    { pwaInfo?.registerSW && <Fragment set:html={pwaInfo.registerSW.scriptTag} /> }

    <!-- Here is the problem : -->

    <!-- KO KO KO and I don't know why ? : -->
    { true && <script src="/src/pwa.ts"></script> }

    <!-- Here OK OK OK, the SW.js is generated (uncomment to check) -->
    <!-- <script src="/src/pwa.ts"></script>  -->

    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
